<!doctype html>
<html>

<head>
	<title>Code search</title>
	<base href="/">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Angular Material -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<!-- MQE style -->
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/vs.min.css">

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
	<!-- MQE dependencies -->
	<script src="https://www.google.com/jsapi"></script>
	<script src="/static/js/angular-local-storage.min.js"></script>
	<script src="/static/js/underscore-min.js"></script>
	<script src="/static/js/underscore.string.min.js"></script>
	<script src="/static/script.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
	<script src="/static/js/ace.js"></script>
	<script src="/static/js/ui-ace.js"></script>


</head>

<body ng-app="main" ng-controller="MainController">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<span><strong>codegrep</strong></span>
			<span flex></span>
		</div>
	</md-toolbar>
	<div layout="column" layout-padding>

		<div id="search-container" flex layout="row">
			<div flex layout="column">
				<md-input-container>
					<textarea ng-model="searchText" ng-change="onSubmit()" ng-model-options='{ debounce: 250 }' placeholder="Enter your search query here"></textarea>
				</md-input-container>
			</div>
		</div>

    <div flex layout="column">
      <span ng-click="collapse =! collapse" class="md-caption fake-link">Filters</span>
	  <div flex layout="row" ng-show="collapse">
		  			<md-input-container>
				<label>Language</label>
				<md-select ng-model="ctrl.userState">
					<md-option>Any</md-option>
					<md-option>java</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>
				<label>Framework</label>
				<md-select ng-model="ctrl.userState">
					<md-option>Any</md-option>
					<md-option>rails</md-option>
				</md-select>
			</md-input-container>
			<span flex></span>
			</div>
    </div>

		<div ng-if="essResults.hits.hits.length < 1" flex layout="row">
			<span class="md-caption"> No results found for your search. ({{ essResults.took }} ms) </span>
		</div>

		<div ng-if="essResults.hits.hits.length > 0" flex layout="column">
			<span class="md-caption">{{ essResults.hits.total }} documents matched your query ({{ essResults.took }} ms)</span>
			<md-divider></md-divider>
   		</div>
    
<div ng-if="essResults.hits.hits.length > 0" flex layout="row">
	<div flex=80>
		<div ng-repeat="hit in essResults.hits.hits">
			<div class="search-results-container" flex layout="column">
				<span class="fake-link md-caption" ng-click="collapse =! collapse">{{ hit._source.filename }}</span>
				<pre ng-show="!collapse" ng-bind-html="hit.highlight.content[0]"></pre>
				<pre ng-show="!collapse" ng-bind-html="hit.highlight.methods[0]"></pre>
				<div ng-show="collapse">
					<div flex layout="row">
						<div id="features-sidenav" flex="20">
							<md-input-container>
								<label>Features</label>
								<md-select ng-model="size">
									<md-option>Methods</md-option>
									<md-option>Variables</md-option>
									<md-option>Annotations</md-option>
								</md-select>
								<md-list>
									<md-list-item class="md-1-line" ng-repeat="method in hit._source.methods">
										<div class="md-list-item-text"><span class="fake-link">{{ method | limitTo: 15 }}{{method.length > 15 ? '...' : ''}}</span></div>
									</md-list-item>
							</md-input-container>
						</div>
						<div flex="80" hljs hljs-source="hit._source.content"></div>
					</div>
					</div>

			</div>
		</div>
			</div>
      <div id="right-side-block" flex=20>
      </div>
		</div>
		<div flex=1></div>
</body>

</html>