<div ng-include="'/partials/searchbar.html'"></div>

<div id="search-result-summary">
	<div ng-if="essResults().hits.hits.length < 1" flex layout="row">
		<span class="md-caption"> No results found for your search. ({{ essResults().took }} ms) </span>
	</div>

	<div ng-if="essResults().hits.hits.length > 0" flex layout="column">
		<span class="md-caption">{{ essResults().hits.total }} documents matched your query ({{ essResults().took }} ms)</span>
	</div>
</div>

<div ng-if="essResults().hits.hits.length > 0" flex layout="row">
	<div flex="100">
		<div ng-repeat="hit in essResults().hits.hits" class="no-animate">
			<div class="search-results-container" flex layout="column">
				<div flex layout="row">
					<a md-colors="{color: 'accent-700'}" ng-href="{{ getURL(hit._source.repository, hit._source.filename) }}">{{ hit._source.filename }}</a>
				</div>
				<div class="search-results-container-filter" flex layout="row">
					<small>
						<span><strong>language:</strong></span>
						<span md-colors="{color: 'accent-700'}" class="fake-link" ng-click="applyFilter('language', hit._source.language)">{{ hit._source.language }}</span>
						<span><strong>repository:</strong></span>
						<span md-colors="{color: 'accent-700'}" class="fake-link" ng-click="applyFilter('repository', hit._source.repository)">{{ hit._source.repository }}</a></small>
					<span flex></span>
					<small>
					<a md-colors="{color: 'accent-700'}" ng-href="/document/{{hit._id}}">Details</a>
					</small>
				</div>
				<md-divider></md-divider>
				<pre ng-if="!collapse" ng-bind-html="hit.highlight.content[0]"></pre>
			</div>

		</div>
	</div>
</div>
</div>
<div flex=1></div>