<div ng-controller="SearchBarController">
    <div flex layout="row" id="search-container">
        <form ng-submit="onSubmit()" flex layout="row">
            <md-input-container class="md-icon-float md-block" flex="100">
                <input autocomplete="off" type="text" ng-model="searchText" spellcheck="false" ng-change="onSubmit()" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
                    placeholder="Enter your search query here"></input>
            </md-input-container>
       </form>
    </div>
    <div flex="100" ng-show="loading()">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>