<div ng-include="'/partials/searchbar.html'"></div>

<div flex layout="column">
	<div ng-if="total > 0">
		<span class="md-caption">{{ total }} documents matched your query. Displaying first {{ displayed }}</span>
	</div>

	<div ng-if="total < 1">
		<span class="md-caption">No documents matched your query</span>
	</div>
</div>

<div ng-repeat="(type, byType) in resultsByToken">
	<h3 class="md-body-2">Matched as {{ type }}</h3>
	<div ng-repeat="(repository, byRepository) in byType">
		<div ng-repeat="(filename, byFilename) in byRepository">
			<div id="token-header">
				<a class="md-body-1" md-colors="{color: 'accent-700'}" ng-href="/document/{{ byFilename.id }}">{{ filename }}</a>
				<md-divider></md-divider>
				<a class="md-body-1" md-colors="{color: 'accent-700'}" ng-href="/search?repository={{ repository }}">{{ repository }}</a>
			</div>
			<div ng-repeat="entry in byFilename.tokens | limitTo:2">
				<span class="md-body-1">At line: {{ entry.line }}</span>
				<div hljs hljs-source="entry.snippet"></div>
			</div>
		</div>
	</div>
</div>

<div ng-if="results.length > 0">
	<h3 class="md-body-2">Matched as text</h3>
	<div ng-repeat="hit in results" class="no-animate">
		<div class="search-results-container" flex layout="column">
			<div flex layout="row">
				<a class="md-body-1" md-colors="{color: 'accent-700'}" ng-href="/document/{{ hit._id }}">{{ hit._source.filename }}</a>
			</div>
			<md-divider></md-divider>
			<a class="md-caption" md-colors="{color: 'accent-700'}" ng-href="/search?repository={{ hit._source.repository }}">{{ hit._source.repository }}</a>
			<pre ng-bind-html="hit.highlight.content[0]"></pre>
		</div>
	</div>
</div>